<p>一覧</p>

<h3><%= link_to "新規作成", new_product_path %></h3>


<table>
  <thead>
    <tr>
      <th width="60px">ID</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>販売価格</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.id %></td>
        <td><%= form.code %></td>
        <td><%= form.name %></td>
        <td><%= form.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>